body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(192, 218, 226);
}

h1 {
    color: #333;
}
.introsubheader {
    font-size: 36px; 
    color: #6b4e10; 
    font-weight: bold;
    margin: 0;
}
.contactinfo {
    font-size: 20px; 
    color: #105; 
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add styles for the image */
img.profile {
    max-width: 30px; /* Adjust the image size */
    border-radius: 50%; /* Make it circular */
    float: right; /* Align it to the right */
    margin-left: 20px; /* Add spacing between the image and text */
    /* #margin-bottom: 20px; Add spacing below the image */
}
